html, body {
    height: 100%;
}

h2 {
    color: #0551A7;
    font-size: 30px;
    font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}

.publisher {
    height: 150px !important;
    width: 150px !important;
    position: absolute !important;
    right: 45px;
    bottom: 35px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0.75)!important;
    z-index: 9999;
}

.subscriber {
    height: 100% !important;
    width: 100% !important;
    background-color: white;
    border-radius: 1rem;
}

.subscriber-name {
    background-color: #04344F;
    border-radius: 0.75rem;
    padding: 8px;
    color: white;
}

.icon-small {
    width: 35px;
    height: 35px;
    text-align: center;
    display: flex;
    padding: 3px;
}

.icon-video-control {
    width: 60px;
    height: 60px;
    text-align: center;
    display: flex;
    padding: 10px;
}
.icon-video-control.bg-white:hover {
    --bs-bg-opacity: 0.3;
}

@media screen and (max-width : 768px){
    .icon-video-control {
        width: 40px;
        height: 40px;
    }
    .video.h-100 {
        height: 75% !important;
    }
}

#btnStart {
    min-width: 220px;
}

.chat-msg {
    background: #E9E9EB;
    border-radius: 15px;
    padding: 10px 15px;
    margin: 3px 20px;
    max-width: 70%;
    min-height: 0px;
}

.chat-header {
    color: #909093;
    font-size: 0.75rem;
    margin: 1px 20px;
    padding: 0 3px;
}

.chat-mine {
    align-self: flex-end !important;
    align-items: flex-end !important;
    flex-direction: column;
    display: flex !important;
    margin-top: 20px;
}

.chat-theirs {
    align-self: flex-start !important;
    align-items: flex-start !important;
    flex-direction: column;
    display: flex !important;
    margin-top: 20px;
}