body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
}

.text-center {text-align: center;}
.text-left {text-align: left;}
.text-right {text-align: right;}

.text-md {font-size: medium;}
.text-sm {font-size: small;}
.text-xs {font-size: smaller;}

.text-error {color: maroon;}

.collapse {display: none;}
.show {display: block;}


.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;    
}
.btn:hover {
    color: #212529;
}

.btn-outline-secondary {
    color: #6c757d;
    border-color: #6c757d;
}
.btn-outline-secondary:hover {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-sm {
    padding: .25rem .5rem;
    font-size: .875rem;
    border-radius: .2rem;
}

.table {
    width: 100%;
    max-width: 100%;
    background-color: transparent;
}
.table td, .table th {
    padding: .25rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
.table.no-border td, .table.no-boder th {
    border: 0;
}

.status-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 25px;
    background-color: #ddd;
    border-top: 1px solid #ccc;
    padding: 2px 5px;
    display: flex;
}

.bg-blue {
    background-color: #0551A7 !important;
}

.text-darkblue {
    color: #0551A7 !important;
}
